.mc-lists.el
auto-save-list/
ido.last
nrepl-history
recentf
savehist
smex-items
straight/repos
straight/build
straight/build-cache.el
.pipe-into-emacs/
/emojis
/desktops
/backups/
/undo/
/semanticdb/
